.login{
	float: right;
}
*{
	margin: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: 10;
	font-family: sans-serif;
	overflow: hidden;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 10px 0;
}
.medsos	ul li {
	display: inline-block;
	color: red;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
.container:after{
	content: " ";
	display: block;
	clear: both;
}

header .container{
	width: 100vw;
	gap: 20px;
	background-color: #1b1b1b20;
	backdrop-filter: blur(20px);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
}

header ul{
	position: relative;
	left: 400px;
}


header h1{
	float: left;
	padding: 10px 0px;
	color: #ffffff;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #6c1b1b;
	color: #fff;
}
.active{
	background-color: #5b0d0d;
	color: #fff;
}
.banner{

	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);

}

.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}

section{
	padding: 50px 0;
	position: relative;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #5b0d0d;
}
.about p{
	margin-left: 450px;
	text-align: justify;
	color: #5b0d0d;
	word-spacing: 2px;
	line-height: 25px;
}
.about h3{
	margin-left: 400px;
}

.contact{
	background-color: #5b0d0d;
}


body{
	width: 100vw;
	height: 100vh;
	background-image: url(../giphy.gif);
	background-repeat: no-repeat;
	background-size: cover;
	
}